.recommend {
    margin-top: 8px;
    .title {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        align-items: baseline;
        margin-bottom: 12px;
        .titleBox {
            font-size: 22px;
            font-weight: 500;
            color: #333;
            width: 100%;
            line-height: 30px;
            letter-spacing: 1px;
            display: inline-block;
            overflow: hidden;
            .piontBox {
                font-size: 16px;
                font-weight: 500;
                color: #121212;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
            }
            .piontBox::before,
            .piontBox::after {
                content: "";
                display: inline-block;
                margin: 0 8px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: currentColor;
            }
        }
        .piontTxt {
            font-size: 12px;
            font-weight: 300;
            color: #999;
            margin-bottom: 12px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 5px;
        }
    }
    .floor {
        padding: 0 15px;
        .list {
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            justify-content: space-between;
            background: transparent;
            .itemWrap {
                margin-bottom: 12px;
                .item {
                    width: 167px;
                    height: 100%;
                    background: #fff;
                    border-radius: 8px;
                    .goodsWrap {
                        padding-bottom: 12px;
                        .imgBox {
                            position: relative;
                            margin: 0 auto;
                            width: 167px;
                            height: 167px;
                            object-fit: contain;
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                border-top-left-radius: 8px;
                                border-top-right-radius: 8px;
                            }
                        }
                        .name {
                            height: 40px;
                            margin-top: 8px;
                            margin-bottom: 4px;
                            padding: 0 5px 0 7px;
                            text-align: left;
                            word-break: break-all;
                            white-space: normal;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            overflow: hidden;
                            font-size: 14px;
                            font-weight: 400;
                            color: #121212;
                            line-height: 20px;
                        }
                        .blockcenter {
                            margin-top: 4px;
                            padding: 0 8px;
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            flex-flow: row wrap;
                            -webkit-box-align: center;
                            align-items: center;
                            .priceText {
                                font-size: 16px;
                                color: #ff354d;
                                margin-right: 12px;
                                margin-bottom: 2px;
                                display: inline-block;
                                overflow: hidden;
                                vertical-align: text-bottom;
                                font-weight: 500;
                                span {
                                    margin-right: 2px;
                                    font-size: 12px;
                                }
                            }
                            .cms {
                                width: -webkit-fit-content;
                                width: -moz-fit-content;
                                width: fit-content;
                                font-size: 12px;
                                padding: 0 6px;
                                height: 16px;
                                line-height: 16px;
                                white-space: nowrap;
                                display: -webkit-box;
                                display: flex;
                                overflow: hidden;
                                color: #fff;
                                background-color: #ffc11c;
                                border-radius: 8px;
                            }
                        }
                        .count {
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            font-size: 13px;
                            font-weight: 400;
                            padding: 4px 8px 0;
                            color: #999;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}