// $menuBlack: '@assets/icon/menu-black.png';
// $searchIcon: '@assets/icon/search_icon@2x.png';
// $messageIcon: '@assets/icon/message-black.png';

$icon: '../../../assets/icon/';

.wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0.12rem 0.15rem;
    -webkit-transition: background-image 0.3s;
    transition: background-image 0.3s;
    background-size: 100%;
    background-repeat: no-repeat;
    div:nth-child(1) {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-right: 0.16rem;
        span {
            background-image: url($icon + "menu-black.png");
            display: inline-block;
            position: relative;
            width: 0.24rem;
            height: 0.24rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
    div:nth-child(2) {
        padding-left: 0.08rem;
        text-indent: 0.2rem;
        width: 2.57rem;
        height: 0.32rem;
        background: #f5f5f5;
        border-radius: 0.5rem;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: start;
        justify-content: flex-start;
        color: #bbb;
        background-image: url($icon + "search_icon@2x.png");
        background-repeat: no-repeat;
        background-size: 0.16rem 0.16rem;
        background-position: 0.08rem center;
    }
    div:nth-child(3) {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-left: 0.16rem;
        position: relative;
        width: 0.24rem;
        height: 0.24rem;
        background-image: url($icon + "message-black.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.tofu {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-top: 15px;
    .tofuGroupWrapper {
        width: auto;
        height: auto;
        position: relative;
        margin: 0 25px;
        display: inline-block;
        .tofuWrapper {
            width: 48px;
            height: auto;
            font-size: 12px;
            text-align: center;
            display: inline-block;
            margin-right: 21px;
            img {
                width: 48px;
                height: 48px;
            }
            span {
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                word-break: break-all;
                display: inline-block;
            }
        }
    }
}

.faddish {
    margin: 15px;
    border-radius: 8px;
    background-color: #fff;
    .marketHotTitle {
        width: 345px;
        height: 51px;
        border-radius: 8px 8px 0 0;
        background-image: url(https://imgs.weilaijishi.cn/h5mall/home/faddish-bg-new.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
    }
    .productList {
        padding: 15px 15px 0;
        .productItem {
            margin-bottom: 8px;
            box-sizing: border-box;
            .imageBox {
                position: relative;
                overflow: hidden;
                img {
                    width: 313px;
                    height: 160px;
                    border-radius: 4px;
                    display: block;
                }
            }
            .productName {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all;
                margin-top: 4px;
                font-size: 14px;
                font-weight: 400;
                color: #333;
                line-height: 20px;
            }
            .productPrice {
                display: -webkit-box;
                display: flex;
                -webkit-box-align: end;
                align-items: flex-end;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin-top: 2px;
                font-weight: 400;
                .productPriceInner {
                    display: flex;
                    align-items: baseline;
                    .priceText {
                        display: inline-block;
                        font-size: 22px;
                        color: #ff354d;
                        overflow: hidden;
                        vertical-align: text-bottom;
                        font-weight: 500;
                        span {
                            font-size: 12px;
                        }
                    }
                    .commissionTa {
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        font-size: 12px;
                        padding: 0 6px;
                        height: 16px;
                        line-height: 16px;
                        white-space: nowrap;
                        display: -webkit-box;
                        display: flex;
                        overflow: hidden;
                        color: #fff;
                        background-color: #ffc11c;
                        margin-left: 12px;
                        border-radius: 8px;
                    }
                }

                .btnBar {
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    .shareBtn {
                        min-width: 70px;
                        padding: 0 14px;
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-pack: center;
                        justify-content: center;
                        -webkit-box-align: center;
                        align-items: center;
                        height: 28px;
                        border-radius: 14px;
                        background: -webkit-gradient(linear, left top, right top, from(#f92852), to(#ff4526));
                        background: linear-gradient(90deg, #f92852, #ff4526);
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .productList:last-child {
        padding-bottom: 4px;
    }
}

.brand {
    margin-top: 8px;
    .title {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        align-items: baseline;
        margin-bottom: 12px;
        .titleBox {
            font-size: 22px;
            font-weight: 500;
            color: #333;
            width: 100%;
            line-height: 30px;
            letter-spacing: 1px;
            display: inline-block;
            overflow: hidden;
            .piontBox {
                font-size: 16px;
                font-weight: 500;
                color: #121212;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
            }
            .piontBox::before,
            .piontBox::after {
                content: "";
                display: inline-block;
                margin: 0 8px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: currentColor;
            }
        }
    }
    .floor {
        width: 100%;
        padding: 0 15px 12px;
        border-radius: 8px;
        box-sizing: border-box;
        overflow: hidden;
        .floorList {
            border-radius: 8px;
            background-color: #fff;
            .imgBox {
                width: 345px;
                height: 120px;
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 8px 8px 0 0;
                }
            }
            .list {
                border-radius: 0 0 8px 8px;
                position: relative;
                width: 337px;
                max-height: 168px;
                z-index: 1;
                padding: 4px;
                overflow-x: scroll;
                display: flex;

                .item {
                    padding-bottom: 4px;
                    width: 98px;
                    position: relative;
                    background-color: #fff;
                    display: inline-block;
                    margin-right: 4px;

                    img {
                        width: 98px;
                        height: 98px;
                        display: block;
                    }

                    .name {
                        margin-top: 4px;
                        padding: 0 12px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #333;
                        line-height: 17px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        word-break: break-all;
                    }

                    .price {
                        margin-top: 1.066667vw;
                        padding: 0 2.133333vw;
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-orient: horizontal;
                        -webkit-box-direction: normal;
                        flex-flow: row wrap;
                        -webkit-box-align: center;
                        align-items: center;
                    }

                    .cms {
                        width: -webkit-fit-content;
                        width: -moz-fit-content;
                        width: fit-content;
                        font-size: 3.2vw;
                        padding: 0 1.6vw;
                        height: 4.266667vw;
                        line-height: 4.266667vw;
                        white-space: nowrap;
                        display: -webkit-box;
                        display: flex;
                        overflow: hidden;
                        color: #fff;
                        background-color: #ffc11c;
                        border-radius: 2.133333vw;
                    }
                }
            }
        }
    }
}

.recommend {
    margin-top: 8px;
    .title {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: baseline;
        align-items: baseline;
        margin-bottom: 12px;
        .titleBox {
            font-size: 22px;
            font-weight: 500;
            color: #333;
            width: 100%;
            line-height: 30px;
            letter-spacing: 1px;
            display: inline-block;
            overflow: hidden;
            .piontBox {
                font-size: 16px;
                font-weight: 500;
                color: #121212;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                align-items: center;
            }
            .piontBox::before,
            .piontBox::after {
                content: "";
                display: inline-block;
                margin: 0 8px;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: currentColor;
            }
        }
        .piontTxt {
            font-size: 12px;
            font-weight: 300;
            color: #999;
            margin-bottom: 12px;
            text-align: center;
            line-height: 16px;
            letter-spacing: 5px;
        }
    }
    .floor {
        padding: 0 15px;
        .list {
            display: -webkit-box;
            display: flex;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            justify-content: space-between;
            background: transparent;
            .itemWrap {
                margin-bottom: 12px;
                .item {
                    width: 167px;
                    height: 100%;
                    background: #fff;
                    border-radius: 8px;
                    .goodsWrap {
                        padding-bottom: 12px;
                        .imgBox {
                            position: relative;
                            margin: 0 auto;
                            width: 167px;
                            height: 167px;
                            object-fit: contain;
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                                border-top-left-radius: 8px;
                                border-top-right-radius: 8px;
                            }
                        }
                        .name {
                            height: 40px;
                            margin-top: 8px;
                            margin-bottom: 4px;
                            padding: 0 5px 0 7px;
                            text-align: left;
                            word-break: break-all;
                            white-space: normal;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            overflow: hidden;
                            font-size: 14px;
                            font-weight: 400;
                            color: #121212;
                            line-height: 20px;
                        }
                        .blockcenter {
                            margin-top: 4px;
                            padding: 0 8px;
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-orient: horizontal;
                            -webkit-box-direction: normal;
                            flex-flow: row wrap;
                            -webkit-box-align: center;
                            align-items: center;
                            .priceText {
                                font-size: 16px;
                                color: #ff354d;
                                margin-right: 12px;
                                margin-bottom: 2px;
                                display: inline-block;
                                overflow: hidden;
                                vertical-align: text-bottom;
                                font-weight: 500;
                                span {
                                    margin-right: 2px;
                                    font-size: 12px;
                                }
                            }
                            .cms {
                                width: -webkit-fit-content;
                                width: -moz-fit-content;
                                width: fit-content;
                                font-size: 12px;
                                padding: 0 6px;
                                height: 16px;
                                line-height: 16px;
                                white-space: nowrap;
                                display: -webkit-box;
                                display: flex;
                                overflow: hidden;
                                color: #fff;
                                background-color: #ffc11c;
                                border-radius: 8px;
                            }
                        }
                        .count {
                            display: -webkit-box;
                            display: flex;
                            -webkit-box-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            font-size: 13px;
                            font-weight: 400;
                            padding: 4px 8px 0;
                            color: #999;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}
